# API keys
data/GPT4oKEY.txt
data/LLM_key.txt
yt_code/yt_key.txt

# AI data
data/ai_data/

# YT data
data/yt_data/

# Drawings
drawings/

#testing for report
kg_code/test_kg/test_sparql_queries_04_03.ipynb
# Python
__pycache__/
*.pyc
*.pyo
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.idea/
.DS_Store

